/* Estilos para telas grandes (desktop first) */
.imgtop {
    background-image: url('imagem/Backtop.png');
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: top right;
}

/* Estilos para telas menores que 1000px (mobile) */
@media (max-width: 1000px) {
    .imgtop {
        background-image: url('imagem/mobile1.png');
        height: 100vh;
    }
}