@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fascinate&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&family=Pixelify+Sans:wght@400..700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --fontprima: font-family: "Mozilla Text", sans-serif;
    --corprimaria: rgb(53, 9, 9);
}
header {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha se precisar */
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-image: linear-gradient(to bottom, #21ACAD, white);
    height: 30em;
    
}
.bt-noturno {
background-color: rgba(255, 255, 255, 0);
border: none;
transition: all 0.5s ease;
}
.bt-noturno:hover {
  opacity: 60%;
}

.bt-noturno img {
  width: 30px;
  position: absolute;
  bottom: 590px;
  right: 30px;
}
.img1top {
    width: 40em;
    height: auto;
    max-width: 100%; /* impede que passe da tela */
}

.text-top {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.text-top h1 {
    font-size: 3em; 
    font-family: "Pixelify Sans", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: rgb(0, 0, 0);
}

.text-top p {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    
}


.sobre  {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 9em 10px 15em 10px;
 }

 .sobre h1 {
    font-size: 28px;
    
 }

 .sobre p {
    font-size: 16px;
    font-family: var(--fontprima);
 }

 main {
    margin-top: 20em;
 }

 .tl-equipe {
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .foto-equipe {
    width: 100%;
 }

 .text-p {
 
    margin: 50px;
    text-align: center;
    font-family: "Mozilla Text", sans-serif;
    font-size: 18px;
 }
 .p-sobre {
    font-family: var(--fontprima);
    font-weight: bolder;
 }

 .tl-serviços {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
 }
.div-fundo {
    background-color: #21adadad;
    height: auto; /* deixa a altura crescer conforme o conteúdo */
    width:90%  ;
    margin: 10px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* espaçamento entre os cards */
    padding: 10px;
    border-radius: 15PX;
}

.serviço {
    background-color: #084545;
    height: 400px;
    width: 260px; /* ou % se preferir */
    border-radius: 13px;
    color: white;
    padding: 10px;
    transition: all 0.5s ease;
    font-size: 13px;
    flex-grow: 1;
    flex-basis: 250px;  
    margin: 20px;
}


  .serviço:hover {
    transform: scale(1.1);
  }

  .img-servço {
    width: 260px;
    height: auto;
    margin: auto;

  }


  .text-sv {
    text-align: center;
    margin: 30px;
  }
  .text-sv h2 {
    font-family: Arial, Helvetica, sans-serif;

  }
  .text-sv p {
    font-family: var(--fontprima);

  }

  .img-servço2 {
     width: 260px;
    height: 195px;
    margin: auto;
    border-radius: 13px;
  }
  .contrato-p {
    font-size: 20px;
    font-family: var(--fontprima);
  }


  .bt {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: #21ACAD;
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease;
    height: auto;
  }
  .bt:hover {
    scale: 1.1;
  }

  .bt img {
    width: 40px;
    height: auto;
    margin: 10px;
  }

  .bt p{
    margin-top: auto;
    margin-bottom:auto;
    
  }


  .bt2 img {
    width: 80px;
    height: auto;
    margin: 5px 2px 5px 5px;
  }

  .bt2 p{
    margin-top: auto;
    margin-bottom:auto;
    
  }

.bt2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-image: linear-gradient(to left,#FEB40B, #FE3D2A, #DC0896, #A510D7) ;
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease;
    color: black;
    height: 80px;
  }
  .bt2:hover {
    scale: 1.1;
  }

  .container-bt {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

  }

  a {
    text-decoration: none;
  }

  input {
    margin: 50px auto 10px auto;
    border: solid 5px #21ACAD ;
    border-radius: 15px;
    display: block;
    padding: 10px;
    width: 60%;
    text-decoration: none;
    outline: none;
    height: 20px;

  }

  ::placeholder {
    color: #166060;
    font-weight: bolder;
    
  }



 .enviar{
  background-image: linear-gradient(to top, #21ACAD, rgb(4, 16, 108));
  width: 100px;
  margin: 0 auto 30px auto ;
  display: block;
  height: 40px;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 8px ;
  transition: all 0.5s ease;
 }

 .enviar:hover {
   opacity:80%;
 }

 
 .rd-fundo {
    background-image: url(imagem/footer.png);
    height: 60em;
    background-size: cover;
 }

 .footer-container {
  display: flex;
  padding-top: 20em;
  justify-content: space-evenly;
  font-size: 20px;
  color: white;
}

.creditos {
  color: white;
  text-align: center;
  padding-top: 20em;
}

.footer-container h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.footer-container li{
  font-family: var(--fontprima);
}


.footer-container a {
  color: rgb(2, 65, 67);
}

.contato {
  padding: 10px;
}

.link {
    padding: 10px;
}

.dark-mode {
  background-color: rgb(31, 25, 47);
  color: rgb(148, 148, 148);
  
}

/* Aplica a todos os filhos diretos do body */
body * {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

/* Quando aparece na tela */
body *._ativo {
  opacity: 1;
  transform: translateY(0);
}
